header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
}

.navbar {}

.ul-navbar {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.a-navbar {
    color: #f5f5f5;
    font-weight: bold;
    transition: all .2s;
}

.a-navbar:hover {
    padding: 5px;
    border-bottom: 3px solid #f5f5f5;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #222;
}

.footer-nav {
    display: flex;
    justify-content: center;

}

.ul-footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.a-footer {
    font-size: 1.25em;
    color: #f5f5f5;
    background-color: #333;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    transition: all .4s;
}
.a-footer:hover{
    background-color: #444;
}

.footer-icon {}

.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.h1-home {
    font-size: 28px;
}

.location {
    display: flex;
    gap: 5px;
}

.location-icon {}

.location-p {
    font-weight:500;
}

.figure-img {
    display: flex;
    justify-content: center;
}

.home-img {
max-width: 200px;
border-radius: 100%;
object-fit: cover;
}

@media(min-width: 768px) {
    header {}

    .navbar {}

    .ul-navbar {}

    .a-navbar {}

    .home {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .home-text {
        gap: 5px;
    }

    .h1-home {}

    .location {}

    .location-icon {}

    .location-p {}

    .figure-img {}

    .home-img {
        max-width: 250px;
    }
    .ul-footer{
        margin-top: 10px;
    }
}

@media(min-width: 1024px) {
    header {}

    .navbar {}

    .ul-navbar {}

    .a-navbar {}

    .home {}

    .home-text {}

    .h1-home {}

    .location {}

    .location-icon {}

    .location-p {}

    .figure-img {}

    .home-img {}
}

@media(min-width: 1440px) {
    header {}

    .navbar {}

    .ul-navbar {}

    .a-navbar {}

    .home {}

    .home-text {}

    .h1-home {}

    .location {}

    .location-icon {}

    .location-p {}

    .figure-img {}

    .home-img {}
}